@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Excel App</h1>
    <p>Click the button below to generate and download an Excel file.</p>
    <a class="btn btn-primary" href="@Url.Action("GenerateExcel", "Home")">Generate Excel</a>
</div>
